$primaryColor: #18C98D;
body{
    font-family: Montserrat;
    a:link{
        text-decoration:none; 
        color: black;
    }
    
    .header{
        width: 100%;
        background-color: $primaryColor;
        
        .header-content{
            width: 100%;
            display: flex;
            align-items: center;
            height: 80px;
            justify-content: space-between;

            .logo-section{
                margin-left: 50px;
            }
            .title{
                margin-left: 20px;
                font-size: 1.2em;
                font-weight: bold;
            }
            .form-inline{
                width: 40%;
                justify-content: center;
            }
            .menu{
                margin-right: 50px;
                a:hover{
                    text-decoration: underline;
                }
            }
            .favorite{
                border-left: solid 2px;
                padding: 10px 20px;
            }
            .home{
                padding: 10px 20px;
            }
        }
    }
    .home-container{
        display: flex;
        justify-content: center;
        h1{
            padding: 30px 20px 50px 0;
        }
        .card{
            box-shadow: 5px 5px 5px rgba(29, 29, 29, 0.3);
        }
        #options{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            .card{
                width: 60%;
            }
            .top{
                display: flex;
                justify-content: space-around;
                margin-bottom: 20px;
                .btn{
                    border-color: $primaryColor;
                    padding: 4px 15px 4px 15px;

                }
                .btn.active{
                    background-color: $primaryColor;
                    color: white;
                }        
                .btn:hover{
                    background-color: $primaryColor;
                    color: white;   
                }        
            }
            .body-filter{
                width: 100%;
                height: 100%;
                display: none;
                &.active{
                    display: block;
                }
                .year{
                    height: 60px;
                    border-bottom: solid 1px $primaryColor;
                    margin-bottom: 15px;
                }
                .kind{
                    padding-bottom: 20px;
                    border-bottom: solid 1px $primaryColor;

                    .list{
                        margin-top: 15px;
                        height: 90px;
                        overflow:auto;
                        

                        input[type=checkbox] {
                            height: 15px;
                            width: 15px;
                        }
                        
                    }
                }
                .actor{
                    padding-top: 20px;
                    padding-bottom: 20px;
                    border-bottom: solid 1px $primaryColor;
                }
                .during{
                    padding-top: 15px;

                }
            }
        }
    }
}

