@mixin mixin-button {
  border-color: $primaryColor;
  color: $primaryColor;
  padding: 4px 15px 4px 15px;
}

@mixin mixin-button-hover {
  border-color: $secondaryColor;
  background-color: $secondaryColor;
  color: white;
}
@mixin mixin-button-active {
  background-color: $secondaryColor;
  border-color: $secondaryColor;
  color: white;
  opacity: 1;
}

@mixin mixin-shadow-card {
  box-shadow: 5px 5px 5px rgba(85, 85, 85, 0.3);
  margin-bottom: 35px;
  border-color: rgba(85, 85, 85, 0.4);
}
